body{
    border: dotted 4px black;

}

p{
    border: dotted 10px green;
}

#relative{
    text-align: center;

}

.emotions{
    height: 100px;
}

.things{
    width: 50%;

}

.music{
    border: 25px solid purple;
}